[Desktop Entry]
Name=Alert
Comment=Procedural Shmup from Jumpei Isshiki
Exec=alert
Terminal=false
Type=Application
StartupNotify=true
Icon=icon
Categories=games;
